* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: Arial, sans-serif;

  transition:
    background-color var(--transition-speed),
    color var(--transition-speed);
}